<!doctype html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <style>
    body {
      padding: 20px 10px;
      word-wrap: break-word;
    }
  </style>
</head>
<body>
<div class="container">
  <h1><%= title %></h1>