  <% include header %>
  <div id="authentication" class="row">
    <div class="col-lg-6">
      <h2>Login</h2>
      <p style="margin-bottom:20px;">Obtain a fresh auth token.</p>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="username" class="col-sm-2 control-label">username</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="username" required="true">
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="col-sm-2 control-label">password</label>
          <div class="col-sm-6">
            <input type="password" class="form-control" id="password" required="true">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-6">
            <button id="login_button" class="btn btn-primary">login</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-6">
      <h3>Auth Token Result</h3>
      <p style="margin-bottom:20px;">An auth token will be displayed upon successful login.</p>
      <div id="auth_token_result" class="col-sm-10 well" style="height:134px;">
      </div>
    </div>
  </div>
  <hr id="auth_divider">
  <div id="toggle_button_container" class="row">
    <div class="col-sm-12 text-center">
      <button id="toggle_auth_container" class="btn btn-default"><i id="togl" class="glyphicon glyphicon-chevron-up"></i> <span id="togltxt">hide login</span></button>
    </div>
  </div>
  <div class="row" style="margin-bottom:20px;">
    <div class="col-sm-8">
      <h2>Send Requests</h2>
      <p><i class="glyphicon glyphicon glyphicon-log-out" style="color:red;"></i> <strong style="color:red;">To logout:</strong> send a POST request to http://localhost:3000/logout along with the x-access-token (auth token) 
        and x-key (email address). <em>This will revoke your current auth token.</em></p>
    </div>
  </div>
  <div id="requests" class="row">
    <div class="col-lg-12">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="method" class="col-sm-2 control-label">method</label>
          <div class="col-sm-2">
            <select id="method" class="form-control">
              <option>GET</option>
              <option>POST</option>
              <option>PUT</option>
              <option>DELETE</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="baseUrl" class="col-sm-2 control-label">route</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="baseUrl" value="/api/configurations/" placeholder="/api/configurations/" required="true" autofocus="true">
          </div>
        </div>
        <div class="form-group">
          <label for="xAccessToken" class="col-sm-2 control-label">x-access-token</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="xAccessToken" placeholder="someToken-XAiOiJKV1QiLCJhbGciOiJ...">
          </div>
        </div>
        <div class="form-group">
          <label for="xKey" class="col-sm-2 control-label">x-key</label>
          <div class="col-sm-6">
            <input type="email" class="form-control" id="xKey" placeholder="youremail@gmail.com">
          </div>
        </div>
        <div class="form-group" id="textarea_container" style="display: none;">
          <label for="data" class="col-sm-2 control-label">json data</label>
          <div class="col-sm-6">
            <textarea id="data" rows="4" class="form-control"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-6">
            <button id="send_button" class="btn btn-primary">Send</button>
            <a href="javascript.void(0);" class="btn btn-default" data-toggle="modal" data-target="#examples">Sample REST Calls</a>
          </div>
        </div>
      </form>
    </div>
    <hr>
    <div class="col-sm-offset-2 col-sm-6">
      <h4>Results</h4>
      <div id="results" class="well">
      </div>
    </div>
  </div>
  <!-- Sample REST Calls Modal -->
  <div class="modal fade" id="examples" tabindex="-1" role="dialog" aria-labelledby="Examples" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h3 class="modal-title" id="myModalLabel">Sample REST Calls</h3>
        </div>
        <div class="modal-body">
          <h4>POST Login</h4>
          <h4 class="text-muted">
            /login
          </h4>
          <h5 class="text-info">JSON</h5>
          <pre>
            {
              "email":"youremail@gmail.com",
              "password":"yourpassword"
            }
          </pre>
          <h5 class="text-info">cURL</h5>
          <pre>curl -i -X POST -H "Content-Type: application/json" -d '{"email":"youremail@gmail.com", "password":"yourpassword"}' http://localhost:3000/login</pre>
          <hr>
          <h4>POST Logout</h4>
          <h4 class="text-muted">
            /logout
          </h4>
          <h5 class="text-info">cURL</h5>
          <pre>curl -i -X POST -H "Content-Type: application/json" -H "x-access-token:YOUR_AUTH_TOKEN" -H "x-key:youremail@gmail.com" http://localhost:3000/logout</pre>
          <hr>
          <h4>GET Configurations</h4>
          <p>sort field / order / skip / max</p>
          <h4 class="text-muted">
            /api/configurations/port/asc/0/50
          </h4>
          <h5 class="text-info">cURL</h5>
          <pre>curl -i -X GET -H "content-type:application/json" -H "x-access-token:YOUR_AUTH_TOKEN" -H "x-key:youremail@gmail.com" http://localhost:3000/api/configurations/port/asc/0/50</pre>
          <hr>
          <h4>GET Configuration</h4>
          <h4 class="text-muted">
            /api/configuration/541a405494faef4be2adf4d1
          </h4>
          <h5 class="text-info">cURL</h5>
          <pre>curl -i -X GET -H "content-type:application/json" -H "x-access-token:YOUR_AUTH_TOKEN" -H "x-key:youremail@gmail.com" http://localhost:3000/api/configuration/541a405494faef4be2adf4d1</pre>
          <hr>
          <h4>POST Configuration</h4>
          <h4 class="text-muted">
            /api/configuration/
          </h4>
          <h5 class="text-info">JSON</h5>
          <pre>
            {
              "name":"host221122",
              "hostname":"nodejs.developer.io",
              "port":"2112",
              "username":"nodejsdev@developer.io"
            }
          </pre>
          <h5 class="text-info">cURL</h5>
          <pre>curl -i -X POST -H "content-type:application/json" -H "x-access-token:YOUR_AUTH_TOKEN" -H "x-key:youremail@gmail.com" -d '{"name":"host221122" , "hostname":"nodejs.developer.io" , "port":"2112", "username":"nodejsdev@developer.io"}' http://localhost:3000/api/configuration/</pre>
          <hr>
          <h4>PUT Configuration</h4>
          <h4 class="text-muted">
            /api/configuration/541a405494faef4be2adf4d1
          </h4>
          <h5 class="text-info">JSON</h5>
          <pre>
            {
              "name": "host104", 
              "hostname": "zzzzzz.georgianna.biz", 
              "port": 2179, 
              "username": "zzzzzz@karelle.org"
            }
          </pre>
          <h5 class="text-info">cURL</h5>
          <pre>curl -i -X PUT -H "content-type:application/json" -H "x-access-token:YOUR_AUTH_TOKEN" -H "x-key:youremail@gmail.com" -d '{ "name": "host104", "hostname": "zzzzzz.georgianna.biz", "port": 2179, "username": "zzzzzz@karelle.org" }' http://localhost:3000/api/configuration/541a405494faef4be2adf4d1</pre>
          <hr>
          <h4>DELETE Configuration</h4>
          <h4 class="text-muted">
            /api/configuration/541a405494faef4be2adf4d1
          </h4>
          <h5 class="text-info">cURL</h5>
          <pre>curl -i -X DELETE -H "content-type:application/json" -H "x-access-token:YOUR_AUTH_TOKEN" -H "x-key:youremail@gmail.com" http://localhost:3000/api/configuration/541a405494faef4be2adf4d1</pre>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Sample REST Calls Modal Ends -->
  <% include footer %>